.pag-container{
background-color: rgb(255, 255, 255);
max-width: 750px;
font-size: 20px;
border-radius: 20px;
padding: 30px;
position: relative;
margin: 50px auto;
color: rgb(0, 0, 0);
font-family: Young Serif;
}

.pag-container li{
   padding: 30px auto;
}
.text-container{
    background-color: hsl(330, 100%, 91%);
    padding: 5px;
    border-radius: 20px;
}

.text-container blockquote{
    margin: 15px;
}

.text-container h3{
    color: hsl(332, 51%, 32%);
    margin: 15px;
}

.text-container li{
    margin: 15px;
}

img{
   max-width: 100%;
   height: auto;
}

h2{
   color:hsl(14, 45%, 36%) ;
   font-size: 30px;
}

body{
    background-color: hsl(30, 75%, 83%);
}

.container-table b{
    color: hsl(14, 45%, 36%);
}

.container-table {
    margin: 5px;
}

.container-text2 li{
    margin: 20px;
}


